
  @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:black;
}
.container{
    background-color:black;
    
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1rem solid yellow;
    box-shadow: 5px 10px 70px yellow;
    
}
h1{
    
    
    width:50%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color:white;
    
}
#time{
    
    width:50%;
    text-align: center;
    font-family:cursive;
    font-size: 5rem;
    color: white;

}
button{
    width:4rem;
    height:3.5rem;
    font-size:2.5rem;
    margin:1rem;
    text-align: center;
    background-color:blue;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color:red;
    

}
button i{
    margin-top: 0.5rem;
    color:rgb(146, 205, 186);
}
button i:hover{
    transform: scale(1.2);
    
}
#lap{
    color: white;
    
    font-size: 2rem;
}